body {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
html:root {
  background-color: #2c0735;
}
/* 
Blue Recipe colors
light blue: #97DFFC (text)
light purple: #858AE3 (secondary button)
bright purple: #613DC1 (accent)
purple: #4E148C (primary button)
dark purple: #2C0735 (bg color)
*/
